@tailwind base;
@tailwind components;
@tailwind utilities;

.active_link {
  @apply border-default-color;
}

.h_16 {
  @apply h-16;
}

[x-cloak] {
  @apply hidden !important;
}

.container {
  @apply max-w-[70rem] m-auto px-6;
}

section {
  @apply py-10 overflow-hidden;
}

img {
  @apply max-w-[40rem];
}

/*------========------INDEX PAGE------========------  */

/* Nav Section */
.nav ul li:hover > .submenu {
  @apply opacity-100 visible;
}
.nav ul li:hover > a {
  @apply text-zinc-100;
}
.car_overlay:hover .round_btn {
  @apply opacity-100;
}

.left_0 {
  @apply left-0;
}

/* Swiper Slider */
.swiper-pagination-bullet {
  @apply h-4 w-4 rounded-full bg-slate-50;
}
.next,
.prev {
  @apply mx-1 h-20 w-20 leading-10 text-slate-50;
}

main:hover .next,
main:hover .prev,
main:hover .swiper-pagination {
  @apply opacity-100;
}

@media (max-width: 768px) {
  .next,
  .prev {
    @apply hidden;
  }
}
/*------========------RATE PAGE------========------  */
.polygon {
  clip-path: polygon(50% 80%, 100% 65%, 100% 0, 0 0, 0 65%);
}
/*------========------ABOUT PAGE------========------  */
.car_overlay:hover .round_btn {
  @apply opacity-100;
}

/**************** Home Page Main Section Animation ****************/
/* First Image */
.swiper-slide-active .slide_1 .first {
  animation-name: zoomIn;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 900ms;
}
.swiper-slide-active .slide_1 .second {
  animation-name: zoomIn;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1200ms;
}
.swiper-slide-active .slide_1 .third {
  animation-name: zoomIn;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1500ms;
}
.swiper-slide-active .slide_1 .fourth {
  animation-name: rubberBand;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1800ms;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* Second Image */
.swiper-slide-active .slide_2 .first {
  animation-name: slideInLeft;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 800ms;
}
.swiper-slide-active .slide_2 .second {
  animation-name: slideInLeft;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}
.swiper-slide-active .slide_2 .third {
  animation-name: slideInLeft;
  animation-duration: 500ms;
  animation-fill-mode: both;
  animation-delay: 1200ms;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(20%);
    visibility: visible;
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Third Image */
.swiper-slide-active .slide_3 .first {
  animation-name: zoomInLeft;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-delay: 800ms;
}
.swiper-slide-active .slide_3 .second {
  animation-name: zoomIn;
  animation-duration: 700ms;
  animation-fill-mode: both;
  animation-delay: 2000ms;
}
.swiper-slide-active .slide_3 .third {
  animation-name: zoomInRight;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-delay: 1200ms;
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
